.fab-main-button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fab-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fab-main-button > div {
    margin-top: -8px;
}

.fab-position {
    z-index: 100;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.fab-menu-container {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fab-menu-item-1 {
    position: absolute;
    top: -125px;
    left: -10px;
}

.fab-menu-item-2 {
    position: absolute;
    top: -30px;
    left: -120px;
}

.fab-menu-item-icon {
    font-size: 0.7em;
    position: absolute;
    left: 11px;
    top: 0;
}

.fab-menu-item-label {
    position: absolute;
    top: 40px;
    left: -1px;
    font-size: 0.45em;
    color: white;
    width: 4rem;
}

.fab-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99;
    background-color: #1b1e21;
}