<div class="d-block pb-3 text-center">

  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm bg-white btn-outline-warning text-dark d-inline-block">-1
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-warning text-dark d-inline-block">-2
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-warning text-dark d-inline-block">-5
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-warning text-dark d-inline-block">-10
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-success text-dark d-inline-block">+10
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-success text-dark d-inline-block">+5
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-success text-dark d-inline-block">+2
    </button>
    <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
            class="btn btn-sm bg-white btn-outline-success text-dark d-inline-block">+1
    </button>
  </button>
</div>