{% extends 'base_generic.html' %}
{% load static %}
{% load enumerate %}

{% block script_head %}
  <script>
    function deleteSet(element, url) {
      POSTRequest(url, null, (request) => {
        const parent = element.parentElement.parentElement;
        element.parentElement.parentElement.parentElement.removeChild(parent);
      });
    }

    const request = new XMLHttpRequest();

    function POSTRequest(url, data, on_200, on_error) {
      request.open("POST", url, true);
      request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      request.onreadystatechange = () => {
        if (request.readyState === XMLHttpRequest.DONE) {
          if (request.status === 200) {
            if (on_200) {
              on_200(request);
            }
          } else {
            if (on_error) {
              on_error(request);
            }
          }
        }
      };
      request.send(null);
    }

    /** Adds the text of the button (which is + or - a number) to the current value, and evaluates it. This makes
     * JS compute the statement of [old value +/- new value] and set the input field to the result.
     *
     * @param {HTMLButtonElement} element Element with value that will be added to the input field
     * @param {string} inputId
     */
    function addNumberToInput(element, inputId) {
      const input_field = document.getElementById(inputId);
      const new_val = eval(input_field.value + element.textContent);
      input_field.value = new_val < 0 ? 0 : new_val;
      {# manually trigger the onchange event, this will set the value on the knob (if present) #}
      if (input_field.onchange) {
        input_field.onchange(null);
      }
    }
  </script>
  <script src="{% static 'sets/html5-knob/xknob.min.js' %}"></script>
  <link href="{% static 'sets/html5-knob/xknob.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="card my-3">
    <h2 class="text-center py-4 lead">{{ exercise }}
      <a target="_blank" href="https://www.google.co.uk/search?q={{ exercise }}" style="text-decoration: none;"><span
        class="font-weight-bold" style="font-size: 1.6rem;">G</span></a>
      {% if exercise_from_last_time %}
        <div class="dropleft d-inline-block float-right pt-2">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" style="margin-right: 1px;">
            <h6 class="dropdown-header">Sets from last time</h6>
            <div class="dropdown-item">
              {{ exercise_from_last_time.sets_table|safe }}
            </div>
          </div>
        </div>
      {% endif %}
    </h2>
    {% if latest_set %}
      <table class="table table-sm text-center">
        <thead>
        <tr>
          <th>Set</th>
          <th>KGs</th>
          <th>Reps</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for i, set in exercise.sets.order_by|enumerate %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ set.kgs }}</td>
            <td>{{ set.reps }}</td>
            <td>
              <a class="btn btn-outline-dark btn-sm" href="{% url 'today:sets:update' set.pk %}"><i
                class="fas fa-pencil-alt"></i></a>
              <a class="btn btn-outline-dark btn-sm"
                 onclick="deleteSet(this, '{% url 'today:sets:delete' set.pk %}')">✖</a>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% if latest_set.time %}
        <div class="mb-3">
          <button type="button" class="btn btn-success w-100 ">
            Since last set: <span class="badge badge-light" id="duration">{{ latest_set.since_last_set }}</span>
          </button>
        </div>
      {% endif %}
    {% endif %}
  <script>
    (function () {
      const duration = document.getElementById("duration");
      if (duration.textContent.length === 7) {
        duration.textContent = "0" + duration.textContent;
      }
      const date = new Date("2000-01-01T" + duration.textContent + "Z");
      setInterval(() => {
        date.setSeconds(date.getSeconds() + 1);
        duration.innerHTML = date.toLocaleTimeString();
      }, 1000)
    })()
  </script>
  <form method="post" action="{% url 'today:sets:add' exercise.id %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KGs</span>
      </div>
      <input type="number" step="0.1" class="form-control" placeholder="e.g. 30" name="kgs" id="kgs-input-field"
             min="0"
             value="{{ latest_set.kgs }}">
    </div>

    <div class="text-center">
      {% include 'sets/knob_partial.html' with input_field_id="kgs-input-field" initial_value=latest_set.kgs %}
    </div>
    {% include 'sets/buttons_partial.html' with input_field_id="kgs-input-field" %}
    {% if kgs_error %}
      <div class="btn-danger text-white p-2 m-2">{{ kgs_error }}</div>
    {% endif %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Reps</span>
      </div>
      <input type="number" class="form-control" placeholder="e.g. 12" name="reps" min="0" id="reps-input-field"
             value="{{ latest_set.reps }}">
    </div>
    {% include 'sets/buttons_partial.html' with input_field_id="reps-input-field" %}

    {% if reps_error %}
      <div class="btn-danger text-white p-2 m-2">{{ reps_error }}</div>
    {% endif %}

    <input type="submit" value="Add" class="btn btn-outline-dark btn-block"
           style="width: 100%"/>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  </div>
{% endblock %}