{% extends 'base_generic.html' %}
{% load enumerate %}

{% block public %}
  <div class="card my-3 bg-light">
    <h5 class="text-center py-4">{{ exercise }}
      <a target="_blank" href="https://www.google.co.uk/search?q={{ exercise }}"><i class="fab fa-google"></i></a>
    </h5>

    <table class="table table-sm text-center table-bordered bg-white">
      <thead>
      <tr>
        <th>Set</th>
        <th>KGs</th>
        <th>Reps</th>
      </tr>
      </thead>
      <tbody>
      {% for i, set in exercise.sets.order_by|enumerate %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ set.kgs }}</td>
          <td>{{ set.reps }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{#  <div>#}
{#    <a href="{% url 'today:share' exercise.workout_id %}" class="btn btn-outline-dark btn-block my-3">Back to workout</a>#}
{#  </div>#}
  </div>
{% endblock %}