{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'today/css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}

    <title>Fit</title>
</head>
<body>

<div class="row">
    <div class="col hidden-xs hidden-sm hidden-md hidden-lg col-xl-2">&nbsp;</div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        {% block bypass_auth %}
            {% if user.is_authenticated %}
                <a href="{% url 'today:index' %}" class="btn btn-outline-dark">Home</a>
                <a href="{% url 'today:history' %}" class="btn btn-outline-dark">History</a>
                <div class="float-right">
                    Logged in as {{ user }} <a href="{% url 'logout' %}" class="btn btn-outline-dark">Log out</a>
                </div>
                {% block content %}{% endblock %}
            {% else %}
                <p>Please login</p><br>
                <a href="{% url 'login' %}" class="btn btn-outline-dark btn-block">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-dark btn-block">Register</a>
            {% endif %}
        {% endblock %}
    </div>
    <div class="col hidden-xs hidden-sm hidden-md hidden-lg col-xl-2">&nbsp;</div>
</div>

</body>
</html>