{% extends 'base_generic.html' %}

{% block content %}
    <div class="mt-2 mt-lg-5 mx-2">
        {% for w in workout_list %}
            <div class="card my-3
{% if w.completed %}
border border-success
{% endif %}">
                <div class="card-header">
                    {{ w.date }} - {{ w.primary_muscle_group }} and {{ w.secondary_muscle_group }}
                    {% if w.completed %}
                        - Completed!
                    {% endif %}
                    <div class="d-inline-block float-right">
                        <form method="post" action="{% url 'today:delete' w.id %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-dark"
                                    onclick="return confirm('Are you sure you want to delete the workout? This is NOT reversible.')">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Primary</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for p in w.primary %}
                                <li class="list-group-item">{{ p }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card" style="margin-top: 0.3rem">
                        <div class="card-header">
                            <h5>Secondary</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for p in w.secondary %}
                                <li class="list-group-item">{{ p }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        {#        <form action="{% url 'today:complete' %}" method="post">#}
        {#            {% csrf_token %}#}
        {#            {% if object_list.completed %}#}
        {#                <button class="btn btn-dark btn-block">Remove Completion</button>#}
        {#            {% else %}#}
        {#                <button class="btn btn-dark btn-block">Complete Workout</button>#}
        {#            {% endif %}#}
        {#            <input type="hidden" name="workout" value="{{ object_list.id }}">#}
        {#        </form>#}
    </div>
{% endblock %}