{% extends 'base_generic.html' %}
{% load enumerate %}
{% block content %}
    <div class="card my-3">
        <h2 class="lead">{{ exercise }}</h2>

        {% for i, set in exercise.sets_list|enumerate %}
            <p>{{ i }} - {{ set }}</p>
        {% endfor %}
        <div class="">
{#            <form method="post" action="{% url 'today:repeat_set' exercise.id %}" class="pt-3 d-inline-block">#}
{#                {% csrf_token %}#}
{#                <input type="submit" value="Same KGs, +2 reps" class="btn btn-outline-dark d-inline-block"/>#}
{#            </form>#}
            <form method="post" action="{% url 'today:repeat_set' exercise.id %}" class="pt-3">
                {% csrf_token %}

                <input type="submit" value="Repeat Last Set" class="btn btn-outline-dark btn-block"/>
            </form>
{#            <form method="post" action="{% url 'today:repeat_set' exercise.id %}" class="pt-3 d-inline-block">#}
{#                {% csrf_token %}#}
{#                <input type="submit" value="Same Reps, +5 KGs" class="btn btn-outline-dark d-inline-block"/>#}
{#            </form>#}
        </div>
        <form method="post" action="{% url 'today:del_set' exercise.id %}" class="py-3">
            {% csrf_token %}

            <input type="submit" value="Remove Set" class="btn btn-outline-dark btn-block"
                   style="width: 100%"/>
        </form>
        <form method="post" action="{% url 'today:add_set' exercise.id %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">KGs</span>
                </div>
                <input type="number" step="0.5" class="form-control" placeholder="e.g. 30" aria-label="Username"
                       aria-describedby="basic-addon1" name="kgs" value="{{ prev_kgs_value }}">
            </div>
            {% if kgs_error %}
                <div class="btn-danger text-white p-2 m-2">{{ kgs_error }}</div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Reps</span>
                </div>
                <input type="number" class="form-control" placeholder="e.g. 12" aria-label="Username"
                       aria-describedby="basic-addon1" name="reps" value="{{ prev_reps_value }}">
            </div>
            {% if reps_error %}
                <div class="btn-danger text-white p-2 m-2">{{ reps_error }}</div>
            {% endif %}

            <input type="submit" value="Add Set" class="btn btn-outline-dark btn-block"
                   style="width: 100%"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
{% endblock %}