<div class="d-block pb-3 text-center">
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-warning text-dark d-inline-block">-0.5
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-warning text-dark d-inline-block">-1
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-warning text-dark d-inline-block">-2
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-warning text-dark d-inline-block">-5
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-success text-dark d-inline-block">+5
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-success text-dark d-inline-block">+2
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-success text-dark d-inline-block">+1
  </button>
  <button onclick="addNumberToInput(this, '{{ input_field_id }}')" type="button"
          class="btn btn-sm btn-outline-success text-dark d-inline-block">+0.5
  </button>
</div>